$primary-color: #e74c3c;
$btn-color:#e74c3c;
$navbar-color:#bdc3c7;

$side-margin: 50px;
$max-xs:544px;
$max-sm:767px;
$max-md:992px;


.no-pad-top{
    padding-top:0px;
}

.pad-top-20{
    padding-top: 20px;
}

.pad-bottom-20{
    padding-bottom: 20px;
}
.pad-top-30{
            padding-top: 30px;
        }
@media (max-width:991px ){
.sm-pad-left-0{
    padding-left: 0px;
}
    .no-padding-top-sm{
        padding-top: 0px;
    }
}
@font-face {
    font-family: "Rockwell";
    src: url("../font/rockwell/ROCC.ttf");
}
@font-face {
    font-family: "Haettenschweiler";
    src: url("../font/Haettenschweiler/\Haettenschweiler.tff");
}

body{
    
    font-family: Rockwell;
    
}

@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}
/* CSS for title*/
.Title-color-1{
        color: $navbar-color;
    }
     .Title-color-2{
        color: $primary-color;
    }
     .logo-text{
         padding-left: 0px;
         a{
         font-size: 30px;
             text-decoration: none;
         }
     }
.navbar-brand {
         padding: 15px 0px;
     }
/* CSS for title finish*/

/* padding for header*/
 #page-header {
     padding-top: 10px;
    padding-left: 50px;
     padding-right: 50px;
    
     
/* navbar color setting*/
.navbar-default {
    background-color:white;
    border-color: white;
}
      

     
/*     .navbar-font{
         font-family: "Haettenschweiler";
         padding-left: 100px;
          padding-right: 0px;
     }*/
     
    /* .nav-icon{
         //padding-top: 10px;
         color: $navbar-color;
         i{
             padding-top: 14px;
             padding-right: 0px;
         }
     }*/
    
     
    
     
     
     
     /*/main nav bar otions CSS*/
     .main-nav{
         padding-left: 70px;
     }
     
     
     @media (max-width:991px){
         
         .main-nav{
            padding-left: 0px;
         }
     }
     
     .main-nav>li>a {
    color:black;
    font-size: 20px;
         font-family: "Haettenschweiler";
         //margin-left: 9px;
}
     
     @media (max-width:1108px) and  (min-width:990px){
         
         .navbar-nav>li>a {
             font-size: 16px;
         }
     }
     
         
               
    
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
        text-align: center;
}
     
     
    /* DropDown(world) CSS */
     /* li.dropdown:hover ul.dropdown-menu {
            display: block;
        }*/
         
         .dropdown:hover .dropdown-menu {
display: block;
}
    .dropdown-menu>li>a {
        font-size: 20px;
        clear: both;
        font-weight: 400;
        line-height: 1.42857143;
        color: black;
        font-family: "Haettenschweiler";
       
        //font-size: 13px;
        white-space: nowrap;
        margin: 0px;
        
    }
    .dropdown-menu {
        -webkit-box-shadow: none;
        left: -11px;
       
        border: none;
         border-bottom: thick solid #bdc3c7;
       
        text-align: center;
        //min-width: 130px;
        top: 80%;
    }
    .dropdown-menu {
        li {
            a:hover {
                background: none;
                    }
        }
    }
     
     /* DropDown(world) CSS  ENDS*/
}
#page-header .navbar-right > li > a ,#page-header .navbar-right > li > span
{        color:#bdc3c7;
    }


.navbar-brand {
    text-align: center;
}

/*search bar CSS*/



.search-icon{
    padding-top: 15px;
    
    
    
    input{
-webkit-border-radius: 50px;
-moz-border-radius: 50px;
border-radius: 50px;
}
    }

.user-icon{
     padding-top: 15px;
}

.search {
    width: 150px;
    max-width:0;
    padding: 5px;
    transition: all .5s ease;
    position:absolute;
    right:20px;
    //box-sizing:border-box;
    opacity:0;
    
}
.search.expanded {
    max-width:150px;
    opacity:0.7;
    height: 33px;
    margin-right: 5px;
    top: 70%;
  
}
@media (max-width:1030px ) and (min-width:991px ){
    .search.expanded {
    max-width:125px;
    }
    
}


.icon {
    width: 20px;
    height: 15px;
    //background: red;
    position: absolute;
    right: 0;
}

.user-icon{
    
    float: right;
    
    
}
/*testing search bar finish*/


/*searchbar css finish*/

.main-container{
   /* padding-left: 25px;
        padding-right:25px;*/
    .navbar-collapse{
        padding-top: 15px;
        padding-left: 0px;
    padding-right: 0px;
    }
        
}

/*header background CSS*/
#header-image {
    height: 390px;
    background-image: url(../image/img35.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
     border-top: thick solid $navbar-color;
}
#header-image1 {
    
     border-top: thick solid $navbar-color;
}


@media (min-width:1240px ) {
    #header-image {
    height: 500px;
    }
    
}
@media (min-width:1650px ) {
    #header-image {
    height: 600px;
    }
    
}



@media (max-width:991px ) {
    #page-header {
    padding-left: 20px;
     padding-right: 10px;
    }
}
    @media (max-width:767px ) {
    #header-image {
         height: 215px;
    width: 100%;
    }
}
@media (max-width:991px) and (min-width:767px)  {
    #header-image {
         height: 290px;
    width: 100%;
    }
}
@media (max-width:400px)   {
    #header-image {
         height: 160px;
    width: 100%;
    }
}
/* to collepse in 991
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
  /*  .navbar .navbar-collapse {
    text-align: center;
}
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}*/
/*----- navbar-toggle at tablet(991px) CSS Start ----*/
/*@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
       
		margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

*/

#page-header .navbar-nav > li > a:hover,#page-header .dropdown-menu > li > a:hover {
    color: $primary-color;
   }
/*.nav-link
{
    padding-left: 10px;
    padding-right: 10px;
}*/

/*----- navbar-toggle at tablet(991px) CSS Finish ----*/



/*----home page CSS start*/

#home{
    background-color: white;
    color: black;
     padding-top: 30px;
    padding-left: $side-margin;
    padding-right: $side-margin;
    //padding-bottom: 125px;
    &.black-background{
        background-color: black;
        color: white;
    }
}

@media (max-width: 767px){
    
    #home{
        padding-top: 30px;
   // padding-left: 45px;
    //padding-right: 35px;
        
        
    }
    
    
    
}




.thumbnail-row{
    div{
    padding-left: 0px;
    }
    
     /*p{position: absolute;
    top: 50%;
    left: 0%;
    background-color: black;
         color: white;
         font-size: 20px;
         padding: 3px 5px;
    }*/
    
    
    
    
    
}
.middle-row{
   img{
        padding-top: 30px;
        
    }
}
  .fixtures,.results,.videos{
       padding-top: 30px;
}
.trending-videos
{
  padding-left: 0px;
    padding-right: 0px;
    @media (max-width: 991px)
        {
            .heading{
                padding-left: 0px;
    padding-right: 0px;
            }
    }
}
    .heading{
        
        h5{
            color: $primary-color;
            font-size: 48px;
            margin: 0px;
            padding-bottom: 30px;
        }
        
        h1{
            font-size: 36px;
           //  font-family: "Rockwell";
           // padding-top: 30px;
            //padding-bottom: 20px;
           
            margin-top: 0px;
            margin-bottom: 0px;
            margin-left: 0px;
            a{
                 font-size: 36px;
            text-decoration: none;
             color: $primary-color;
        }
        }
        h2{
            font-size: 20px;
           font-family: "impact";
           
            margin-top: 20px;
            margin-bottom: 0px;
            color: black;
            a{
                font-size: 20px;
            text-decoration: none;
             color: black;
        }
            
            
            
        }
        h3{
            font-size: 18px;
            margin-top: 5px;
            margin-bottom: 5px;
            color: black;
         a{
             font-size: 18px;
            text-decoration: none;
             color: black;
        }
        }
        
       &#font-color-white{
           h2,h3{
               a{
            text-decoration: none;
             color: white;
                   
        }
           }
           
           
        }
    }

    .img-width{
    width: 100%;
    height: 464px;
}


 .image-wrapper{
     padding-left: 0px;
      padding-right: 0px;
     p {
         
    font-size: 36px;
         
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: black;
         color: white;
    
    text-align: center;
    padding: 5px 15px 5px 0px;
         //margin-left: -1px;
}
   a, a:visited, a:hover, a:active {
  color: inherit;
       text-decoration: none;
}  
}

.button {
    position: absolute;
    background-color: $primary-color;
    border: none;
    color: white;
    //padding: 15px 32px;
    width: 161px;
    height: 40px;
    padding-top: 3px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;
    //margin: 4px 2px;
    cursor: pointer;
    left: 0%;
    margin-top: 5px;
    //margin-left: 2px;
        
//border-bottom-right-radius: 7em;
    
}
.button:after {
    content:"";
    position: absolute;
    left: 100%;
    top:0px;
    width:0px;
    height:0px;
    border-top:0px solid transparent;
    border-left:50px solid $primary-color;
    border-bottom:41px solid transparent;
}
@media (max-width: 991px){
    .videos{
        //padding-top: 30px;
    }
}
.img-videos{
    display: block;
    width: 100%;
    height: auto;
}

/*---- media queries for  caption on image and button----*/


@media (max-width: 1240px){
.image-wrapper p {
    font-size: 28px;
}
}




@media (min-width: 600px) and (max-width: 767px){
    
     .image-wrapper{
     p {
    font-size: 24px;
         }
    }  
    .button {
        
        width: 115px;
        height:35px;
       
        
    }
    
    .button:after {
        border-bottom:36px solid transparent;
    }
  
    
}
@media (max-width: 599px){
    
    .image-wrapper{
     p {
    font-size: 18px;
         }
    } 
    
    .button {
        
        width: 84px;
        height:30px;
    }
    .button:after {
        border-bottom:30px solid transparent;
    }
    
}
@media (max-width: 499px){
    
    .image-wrapper{
     p {
    font-size: 15px;
         }
    } 
    
    
    
}
@media (max-width: 450px){
    
    .image-wrapper{
     p {
    //font-size: 12px;
         }
    } 
    
    
}



hr{
    
    margin-bottom: 30px;
    width: 100%;
   
}


/*----home page CSS finish*/


/*----footer CSS----*/


#footer{
    background-color: white;
    color: black;
    padding-top: 60px;
    padding-left: $side-margin;
    padding-right: $side-margin;
    padding-bottom: 125px;
        margin-top: -1px;
     &.black-background{
        background-color: black;
         color: white;
    }
    
    a{
        text-decoration: none;
        color: black;
    }
    
    
    
    .main-row{
        margin-left: 0px;
    }
    
.copyright{
    
        font-size: 10px;
    padding-top: 20px;
    
}
.social-icon{
    padding-top: 20px;
    img{
        width:35px;
        height:35px;
        margin: -5px;
    }
}
    .footer-row2{
        a{
        font-size: 20px;
        }
        .pad-top-30{
            padding-top: 30px;
        }
        
        &#black-color-font{
        a{
        text-decoration: none;
        color: white;
    }
    }
        
        
        
    }
    @media (max-width: 767px) {
        
        .main-row{
        text-align: center;
    }
            .copyright{
                 padding-top: 5px;
                
        }
        .social-icon{
    padding-top: 5px;
            
        img{
        width:35px;
        height:35px;
        margin: -5px;
            }
    }
        
        
    }
    
    
    
    
}


/*---post page ---*/


@media (max-width:991px ){
.post-right-col {
   
    padding-left: 0px;
    padding-right: 0px;
    .videos{
        padding-left: 0px;
    padding-right: 0px;
    }
}
    
    
}
.post-col{
    padding-left: 0px;
    padding-right: 0px;
}
.para1{
    
        font-family: impact;
        font-size: 16px;
    padding-bottom: 20px;
        
        
   
}
.para2{
   
       
        font-size: 16px;
        padding-bottom: 20px;
        
    
}

.post-right-col{
    padding-top: 0px;
    img{
    padding-top: 30px;
    }
}

.image-caption{
p{position: absolute;
    top: 50%;
    //left: 0%;
    background-color: black;
         color: white;
         font-size: 20px;
         padding: 3px 5px;
    }
}

/*----- World CSS ----*/



.world{
    .post-col{
        .image-wrapper p{
            top: 70%;
            padding-left: 8px;
        }
    }
    .image-wrapper {
    padding-left: 0px;
    padding-right: 0px;
}
    
    .fixtures{
        padding-left: 0px;
        margin-left: 0px;
        col-sm-6{
             padding-left: 0px;
        }
    }
}
.second-section{
    .row{
       // margin-right: 0px;
    }
    .image-caption p {
    
    top: 40%;
    }
}
.table{
    padding-top: 20px;
    font-size: 18px;
    table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #F4F4F4;
}
th, td {
     border-bottom: 1px solid #F4F4F4;
    text-align: left;
    padding: 1px;
}

tr:nth-child(2){background-color: #f2f2f2}


}

.fa-arrow-circle-down,.fa-arrow-circle-up {
    
    color: #e74c3c
        
}
#click-me{ 
    text-align: center;
    padding-top: 20px;
}



/*.wrapper {
   position: relative;
    text-align: center;


 .glyphicon {
   position: absolute;
  top: 25%;
  left: 130px;
     
     color: white;
     
     
     
}
    .gi-5x{font-size: 8em;
       
    
    }
}*/

/*---About PAge CSS---*/

#about{
        background-color: white;
    color: black;
     padding-top: 60px;
    padding-left: $side-margin;
    padding-right: $side-margin;
    h1{
         font-size: 36px;
        color: $primary-color;
       
    }
    p,h1{
        margin: 0px;
    }
    .main-para{
        //font-family: "Haettenschweiler";
        font-size: 16px;
        padding-top: 30px;
        font-weight: bold;
    }
    
    .sub-para{
        font-size: 16px;
        padding-top: 20px;
    }
    
    .sec-section{
        padding-top: 30px;
        
        
        
        
        
    }
    .about-image{
        padding-top: 30px;
        text-align: center;
        
       .team-member{
           padding-bottom: 30px;
        h2{
              margin: 20px 0;
            font-size: 24px;
            }
        .job{
            font-size: 20px;
            margin: 0;
        }
        .name{
            margin-bottom: 0px;
        }
        
        
          
        
    
        img{
    //border-radius: 41%;
        //display: block;
    max-width: 100%;
           //height: 225px;
        }
        }
        
        
}
    
    .third-section{
        padding: 30px 0px;
           }
}
    
  /*contact us CSS*/



.contact-us{
    
    padding-top: 60px;
    padding-left: $side-margin;
    padding-right: $side-margin;
    
    img{
        padding-top: 30px;
        padding-bottom: 30px;
        
        
    }
    .email-contact{
        .row{
            margin-left: 0px;
        }
        .detail{
            padding-top: 30px;
            font-size: 36px;
            
        }
        .email{
             padding-top: 10px;
            font-size: 18px;
        }
        
        @media (max-width:991px ){
        
        .detail{
           
            font-size: 24px;
            
        }
        
        
        }
        
        
        
    }
    
    
    
    
}
        
       
 
    


