.no-pad-top {
  padding-top: 0px; }

.pad-top-20 {
  padding-top: 20px; }

.pad-bottom-20 {
  padding-bottom: 20px; }

.pad-top-30 {
  padding-top: 30px; }

@media (max-width: 991px) {
  .sm-pad-left-0 {
    padding-left: 0px; }

  .no-padding-top-sm {
    padding-top: 0px; } }
@font-face {
  font-family: "Rockwell";
  src: url("../font/rockwell/ROCC.ttf"); }
@font-face {
  font-family: "Haettenschweiler";
  src: url("../font/Haettenschweiler/Haettenschweiler.tff"); }
body {
  font-family: Rockwell; }

@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-text {
    float: none;
    margin: 15px 0; }

  /* since 3.1.0 */
  .navbar-collapse.collapse.in {
    display: block !important; }

  .collapsing {
    overflow: hidden !important; } }
/* CSS for title*/
.Title-color-1 {
  color: #bdc3c7; }

.Title-color-2 {
  color: #e74c3c; }

.logo-text {
  padding-left: 0px; }
  .logo-text a {
    font-size: 30px;
    text-decoration: none; }

.navbar-brand {
  padding: 15px 0px; }

/* CSS for title finish*/
/* padding for header*/
#page-header {
  padding-top: 10px;
  padding-left: 50px;
  padding-right: 50px;
  /* navbar color setting*/
  /*     .navbar-font{
           font-family: "Haettenschweiler";
           padding-left: 100px;
            padding-right: 0px;
       }*/
  /* .nav-icon{
       //padding-top: 10px;
       color: $navbar-color;
       i{
           padding-top: 14px;
           padding-right: 0px;
       }
   }*/
  /*/main nav bar otions CSS*/
  /* DropDown(world) CSS */
  /* li.dropdown:hover ul.dropdown-menu {
         display: block;
     }*/
  /* DropDown(world) CSS  ENDS*/ }
  #page-header .navbar-default {
    background-color: white;
    border-color: white; }
  #page-header .main-nav {
    padding-left: 70px; }
  @media (max-width: 991px) {
    #page-header .main-nav {
      padding-left: 0px; } }
  #page-header .main-nav > li > a {
    color: black;
    font-size: 20px;
    font-family: "Haettenschweiler"; }
  @media (max-width: 1108px) and (min-width: 990px) {
    #page-header .navbar-nav > li > a {
      font-size: 16px; } }
  #page-header .navbar-default .navbar-collapse, #page-header .navbar-default .navbar-form {
    text-align: center; }
  #page-header .dropdown:hover .dropdown-menu {
    display: block; }
  #page-header .dropdown-menu > li > a {
    font-size: 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: black;
    font-family: "Haettenschweiler";
    white-space: nowrap;
    margin: 0px; }
  #page-header .dropdown-menu {
    -webkit-box-shadow: none;
    left: -11px;
    border: none;
    border-bottom: thick solid #bdc3c7;
    text-align: center;
    top: 80%; }
  #page-header .dropdown-menu li a:hover {
    background: none; }

#page-header .navbar-right > li > a, #page-header .navbar-right > li > span {
  color: #bdc3c7; }

.navbar-brand {
  text-align: center; }

/*search bar CSS*/
.search-icon {
  padding-top: 15px; }
  .search-icon input {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px; }

.user-icon {
  padding-top: 15px; }

.search {
  width: 150px;
  max-width: 0;
  padding: 5px;
  transition: all .5s ease;
  position: absolute;
  right: 20px;
  opacity: 0; }

.search.expanded {
  max-width: 150px;
  opacity: 0.7;
  height: 33px;
  margin-right: 5px;
  top: 70%; }

@media (max-width: 1030px) and (min-width: 991px) {
  .search.expanded {
    max-width: 125px; } }
.icon {
  width: 20px;
  height: 15px;
  position: absolute;
  right: 0; }

.user-icon {
  float: right; }

/*testing search bar finish*/
/*searchbar css finish*/
.main-container {
  /* padding-left: 25px;
       padding-right:25px;*/ }
  .main-container .navbar-collapse {
    padding-top: 15px;
    padding-left: 0px;
    padding-right: 0px; }

/*header background CSS*/
#header-image {
  height: 390px;
  background-image: url(../image/img35.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-top: thick solid #bdc3c7; }

#header-image1 {
  border-top: thick solid #bdc3c7; }

@media (min-width: 1240px) {
  #header-image {
    height: 500px; } }
@media (min-width: 1650px) {
  #header-image {
    height: 600px; } }
@media (max-width: 991px) {
  #page-header {
    padding-left: 20px;
    padding-right: 10px; } }
@media (max-width: 767px) {
  #header-image {
    height: 215px;
    width: 100%; } }
@media (max-width: 991px) and (min-width: 767px) {
  #header-image {
    height: 290px;
    width: 100%; } }
@media (max-width: 400px) {
  #header-image {
    height: 160px;
    width: 100%; } }
/* to collepse in 991
@media (max-width: 991px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
  /*  .navbar .navbar-collapse {
    text-align: center;
}
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}*/
/*----- navbar-toggle at tablet(991px) CSS Start ----*/
/*@media (min-width: 768px) and (max-width: 991px) {
	.navbar-nav .open .dropdown-menu {
		position: static;
		float: none;
		width: auto;
		margin-top: 0;
		background-color: transparent;
		border: 0;
		-webkit-box-shadow: none;
		box-shadow: none;
	}
	.navbar-nav .open .dropdown-menu > li > a {
		line-height: 20px;
	}
	.navbar-nav .open .dropdown-menu > li > a,
	.navbar-nav .open .dropdown-menu .dropdown-header {
		padding: 5px 15px 5px 25px;
	}
	.dropdown-menu > li > a {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		color: #333;
		white-space: nowrap;
	}
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
       
		margin: 7.5px 50px 7.5px -15px
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
   
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    
    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
}

*/
#page-header .navbar-nav > li > a:hover, #page-header .dropdown-menu > li > a:hover {
  color: #e74c3c; }

/*.nav-link
{
    padding-left: 10px;
    padding-right: 10px;
}*/
/*----- navbar-toggle at tablet(991px) CSS Finish ----*/
/*----home page CSS start*/
#home {
  background-color: white;
  color: black;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px; }
  #home.black-background {
    background-color: black;
    color: white; }

@media (max-width: 767px) {
  #home {
    padding-top: 30px; } }
.thumbnail-row {
 /*p{position: absolute;
top: 50%;
left: 0%;
background-color: black;
     color: white;
     font-size: 20px;
     padding: 3px 5px;
}*/ }
  .thumbnail-row div {
    padding-left: 0px; }

.middle-row img {
  padding-top: 30px; }

.fixtures, .results, .videos {
  padding-top: 30px; }

.trending-videos {
  padding-left: 0px;
  padding-right: 0px; }
  @media (max-width: 991px) {
    .trending-videos .heading {
      padding-left: 0px;
      padding-right: 0px; } }

.heading h5 {
  color: #e74c3c;
  font-size: 48px;
  margin: 0px;
  padding-bottom: 30px; }
.heading h1 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }
  .heading h1 a {
    font-size: 36px;
    text-decoration: none;
    color: #e74c3c; }
.heading h2 {
  font-size: 20px;
  font-family: "impact";
  margin-top: 20px;
  margin-bottom: 0px;
  color: black; }
  .heading h2 a {
    font-size: 20px;
    text-decoration: none;
    color: black; }
.heading h3 {
  font-size: 18px;
  margin-top: 5px;
  margin-bottom: 5px;
  color: black; }
  .heading h3 a {
    font-size: 18px;
    text-decoration: none;
    color: black; }
.heading#font-color-white h2 a, .heading#font-color-white h3 a {
  text-decoration: none;
  color: white; }

.img-width {
  width: 100%;
  height: 464px; }

.image-wrapper {
  padding-left: 0px;
  padding-right: 0px; }
  .image-wrapper p {
    font-size: 36px;
    position: absolute;
    top: 50%;
    left: 0%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 5px 15px 5px 0px; }
  .image-wrapper a, .image-wrapper a:visited, .image-wrapper a:hover, .image-wrapper a:active {
    color: inherit;
    text-decoration: none; }

.button {
  position: absolute;
  background-color: #e74c3c;
  border: none;
  color: white;
  width: 161px;
  height: 40px;
  padding-top: 3px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
  left: 0%;
  margin-top: 5px; }

.button:after {
  content: "";
  position: absolute;
  left: 100%;
  top: 0px;
  width: 0px;
  height: 0px;
  border-top: 0px solid transparent;
  border-left: 50px solid #e74c3c;
  border-bottom: 41px solid transparent; }

.img-videos {
  display: block;
  width: 100%;
  height: auto; }

/*---- media queries for  caption on image and button----*/
@media (max-width: 1240px) {
  .image-wrapper p {
    font-size: 28px; } }
@media (min-width: 600px) and (max-width: 767px) {
  .image-wrapper p {
    font-size: 24px; }

  .button {
    width: 115px;
    height: 35px; }

  .button:after {
    border-bottom: 36px solid transparent; } }
@media (max-width: 599px) {
  .image-wrapper p {
    font-size: 18px; }

  .button {
    width: 84px;
    height: 30px; }

  .button:after {
    border-bottom: 30px solid transparent; } }
@media (max-width: 499px) {
  .image-wrapper p {
    font-size: 15px; } }
hr {
  margin-bottom: 30px;
  width: 100%; }

/*----home page CSS finish*/
/*----footer CSS----*/
#footer {
  background-color: white;
  color: black;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 125px;
  margin-top: -1px; }
  #footer.black-background {
    background-color: black;
    color: white; }
  #footer a {
    text-decoration: none;
    color: black; }
  #footer .main-row {
    margin-left: 0px; }
  #footer .copyright {
    font-size: 10px;
    padding-top: 20px; }
  #footer .social-icon {
    padding-top: 20px; }
    #footer .social-icon img {
      width: 35px;
      height: 35px;
      margin: -5px; }
  #footer .footer-row2 a {
    font-size: 20px; }
  #footer .footer-row2 .pad-top-30 {
    padding-top: 30px; }
  #footer .footer-row2#black-color-font a {
    text-decoration: none;
    color: white; }
  @media (max-width: 767px) {
    #footer .main-row {
      text-align: center; }
    #footer .copyright {
      padding-top: 5px; }
    #footer .social-icon {
      padding-top: 5px; }
      #footer .social-icon img {
        width: 35px;
        height: 35px;
        margin: -5px; } }

/*---post page ---*/
@media (max-width: 991px) {
  .post-right-col {
    padding-left: 0px;
    padding-right: 0px; }
    .post-right-col .videos {
      padding-left: 0px;
      padding-right: 0px; } }
.post-col {
  padding-left: 0px;
  padding-right: 0px; }

.para1 {
  font-family: impact;
  font-size: 16px;
  padding-bottom: 20px; }

.para2 {
  font-size: 16px;
  padding-bottom: 20px; }

.post-right-col {
  padding-top: 0px; }
  .post-right-col img {
    padding-top: 30px; }

.image-caption p {
  position: absolute;
  top: 50%;
  background-color: black;
  color: white;
  font-size: 20px;
  padding: 3px 5px; }

/*----- World CSS ----*/
.world .post-col .image-wrapper p {
  top: 70%;
  padding-left: 8px; }
.world .image-wrapper {
  padding-left: 0px;
  padding-right: 0px; }
.world .fixtures {
  padding-left: 0px;
  margin-left: 0px; }
  .world .fixtures col-sm-6 {
    padding-left: 0px; }

.second-section .image-caption p {
  top: 40%; }

.table {
  padding-top: 20px;
  font-size: 18px; }
  .table table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #F4F4F4; }
  .table th, .table td {
    border-bottom: 1px solid #F4F4F4;
    text-align: left;
    padding: 1px; }
  .table tr:nth-child(2) {
    background-color: #f2f2f2; }

.fa-arrow-circle-down, .fa-arrow-circle-up {
  color: #e74c3c; }

#click-me {
  text-align: center;
  padding-top: 20px; }

/*.wrapper {
   position: relative;
    text-align: center;


 .glyphicon {
   position: absolute;
  top: 25%;
  left: 130px;
     
     color: white;
     
     
     
}
    .gi-5x{font-size: 8em;
       
    
    }
}*/
/*---About PAge CSS---*/
#about {
  background-color: white;
  color: black;
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px; }
  #about h1 {
    font-size: 36px;
    color: #e74c3c; }
  #about p, #about h1 {
    margin: 0px; }
  #about .main-para {
    font-size: 16px;
    padding-top: 30px;
    font-weight: bold; }
  #about .sub-para {
    font-size: 16px;
    padding-top: 20px; }
  #about .sec-section {
    padding-top: 30px; }
  #about .about-image {
    padding-top: 30px;
    text-align: center; }
    #about .about-image .team-member {
      padding-bottom: 30px; }
      #about .about-image .team-member h2 {
        margin: 20px 0;
        font-size: 24px; }
      #about .about-image .team-member .job {
        font-size: 20px;
        margin: 0; }
      #about .about-image .team-member .name {
        margin-bottom: 0px; }
      #about .about-image .team-member img {
        max-width: 100%; }
  #about .third-section {
    padding: 30px 0px; }

/*contact us CSS*/
.contact-us {
  padding-top: 60px;
  padding-left: 50px;
  padding-right: 50px; }
  .contact-us img {
    padding-top: 30px;
    padding-bottom: 30px; }
  .contact-us .email-contact .row {
    margin-left: 0px; }
  .contact-us .email-contact .detail {
    padding-top: 30px;
    font-size: 36px; }
  .contact-us .email-contact .email {
    padding-top: 10px;
    font-size: 18px; }
  @media (max-width: 991px) {
    .contact-us .email-contact .detail {
      font-size: 24px; } }

/*# sourceMappingURL=style.css.map */
